@media (max-width: 480px)
    header
        background: $white !important
    .navbar
        background: $white !important
    .nav-link-btn_1
        display: block
    .nav-link-btn_2
        display: block
    .red-btn
        padding: 15px 30px
    .start
        &__img
            max-width: 320px !important
