@media (max-width: 480px)
    /* Global */
    h2
        font-size: 28px
    h4
        font-size: 20px
    header
        background: $white !important
    section
        margin-left: 10px
        margin-right: 10px
    .container
        padding-left: 10px
        padding-right: 10px
    .navbar
        background: $white !important
    .nav-link-btn_1
        display: block
    .nav-link-btn_2
        display: block
    .red-btn
        padding: 15px 30px
    .start
        height: 100%
        &__img
            max-width: 320px !important
    .about
        &__nav
            margin-top: 20px
        &__link
            line-height: 150%
            padding: 15px 20px
    .input-search
        width: 100%
    .advantage
        &__card
            min-height: 180px
    .col-cust
        width: 100% !important
    .col-cust-2
        width: 100% !important
    .selection
        margin-left: 0
        margin-right: 0
        background-position-x: right -30px
        background-position-y: top 15px
        background-size: 130px
    .col-cust-3
        width: 100%
    .col-cust-4
        width: 100%